
  <div
    [style.backgroundImage]="'url(' + logoUrl + ')'"
    style="background-size: cover; background-position: center ; height: 40rem;"
    (click)="onClick($event) ;">
    <div>
      <h2 style="font: bold;">{{ message }}</h2>

  <!--  Input field with two-way binding using ngModel -->
  <input type="text" [(ngModel)]="userName" placeholder="Enter your name">

  <!-- Display user name dynamically -->
  <h2>Hello {{ userName }} from BridgeLabz</h2>
    </div>
  </div>

<!--  Add Router Outlet -->
<router-outlet></router-outlet>
